@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Handlee|Poiret+One|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  display: flex;
  align-content: center;
  background-image: url("./images/max-bender-bg-unsplash.png");
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  height: auto;
  width: auto;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
}

.App-header {
  text-align: center;
  text-transform: uppercase;
  font-stretch: bold;
  font-family: "Amatic SC", cursive;
  justify-content: center;
  font-size: 8em;
  color: black;
  padding: 0.1em;
}

.App-feed {
  text-align: center;
  color: black;
  padding: 0.2em;
}

.App-menu {
  text-align: center;
  text-transform: uppercase;
  font-stretch: bold;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  color: black;
  padding: 0.2em;
}

.App-likeCounter {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #3b81a5;
}

.App-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  text-transform: uppercase;
}

.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: #fff;
  background-color: #3b81a5;
  text-align: center;
  transition: all 0.2s;
}
.button1:hover {
  color: #fff;
  background-color: #000;
}
@media all and (max-width: 30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}
.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.button2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  text-align: center;
  transition: all 0.2s;
}
.button2:hover {
  color: #fff;
  background-color: #000;
}
@media all and (max-width: 30em) {
  .button2 {
    display: block;
    margin: 0.4em auto;
  }
}

.img1 {
  width: 400px;
  height: 300px;
  padding: auto;
  margin: 5px 5px 2px 5px;
  border: solid 4px #fafbf6;
}
